packages:
  yum:
    git: []
    
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: customer_management.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "customer_management.settings"
    PYTHONPATH: "/var/app/current"

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
